*{
    margin: 0;
    padding: 0;

}

h1 {
    font-family: 'Aboreto', cursive, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #233142;
    }
header {
        height: 200px;
    }
    /* --------------header--------------*/
h2 {
    font-family: 'Aboreto', cursive, sans-serif;
    text-align: center;
    margin-bottom: 50px;
}

body{
    background-color: #fcfefe;
    color: #233142;
}

.nav-bar {
    font-size: 120%;
    list-style-type: none;
    letter-spacing: 2px;
}

.nav-bar a {
    text-decoration: none;
    color: inherit;
}

.nav-bar a:hover {
    border-bottom: solid 1px #f95959;
} 

.nav-bar li {
    float: right;
    margin-right: 80px;
}

.active {
    border-bottom: #f95959 4px solid;
}

#logo, .nav-bar {
    line-height: 80px;
}

#logo {
    font-family: 'Aboreto', cursive, sans-serif;
    font-size: 350%; 
    padding-left: 30px;
    margin-top: 50px;
}


#main-image {
    height: 700px;
    width: 100%;
}

.page-header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.page-header ul {
    display: flex;
    order: 1;
    width: 100%;
    margin-left: 30px;
}


#hero-background {
    height: 800px;
    width: 100%;
    overflow: hidden;
    position:relative;
}

#overlay-text, #overlay-text h3{
    color: #233142;
}

#overlay-text {
    font-size: 120%;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    width: 500px;
    height: 150px;
    text-align: center;

    padding-top: 18px;
    padding-left: 10px;

    bottom: 30px;
    right: 150px;
    position : absolute;

    background-color: rgba(227,227,227, .6);
}

#about-clinic {
    max-height: 900px;
    padding-top: 100px;
}

.hero-header {
    font-family: 'Aboreto', cursive, sans-serif;
}

.flex-box {
    flex-direction: column;
}

hr {
    width: 100%;
    margin: 30px 0;
}

#mission-statement {
    font-size: 20px;
    text-align: center;
    font-family: 'Aboreto', cursive, sans-serif;
    padding-bottom: 120px;
    padding-top: 100px;
}

#home-overview {
    font-size: 15px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 30px; 
}

#review-section {
    text-align: center;
}

#clinic-inside {
    padding-bottom: 40px;
}


/*--map--*/

#map-border {
    margin-bottom: 100px;
    margin-top: 100px;
    height: 200px;
}

/*--media query- reponsivness smartphone--*/
@media screen and (max-width: 1000px) {
    *{
        margin:0;
        padding:0;
        border:0;
    }

    h {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #about-clinic {
        padding: 30px 0;
        width: 100%;
        margin-top: 0;
    }

    .treatments-content > p {
        max-width: 80%;
        min-height: 200px;
    }

    .treatments {
        flex-direction: column;
        flex-basis: auto;
    }

    #overlay-text {
        display: none;
    }

    #main-image {
        width: 100%;
        height: 600px;
        overflow: hidden;
    }


    .hero-header {
       align-items: center;
    }

    .flex-container {
        display: flex;
        flex-direction: column !important;
        margin-inline-end: auto;
        flex-basis: 100%;
    }


    #mission-statement {
        align-content: center;
        margin-top:180px;
    }

    #hero-background {
        height:  unset;
    }

    .page-header ul {
        width: 100%;
        margin-top: 0;
      }

    .page-header .cta-contact {
        order: 1;
      }

}


@media screen and (max-width: 414px) {
    #logo {
        font-size: 200%;
        text-align: center;
        margin-top: 10px;
    }

    .nav-bar {
        font-size: 100%;
        margin-left: 20%;
    }

    .nav-bar li {
        float: right;
        margin-right: 30px;
    }

    #about-clinic {
        padding-bottom: 0;
    }

    #mission-statement {
        margin-top: 350px;
        padding-bottom: 20px;
    }

    #review-section {
        padding-bottom: 40px;
        padding-top: 60px;
    }

    footer {
        font-size: 40%;
    }
}

@media screen and (max-width: 300px) {
    
    #logo {
        font-size: 170%;
        text-align: center;
        margin-top: 10px;
    }

    .nav-bar {
        font-size: 80%;
        margin-left: 20%;
    }

    .nav-bar li {
        float: right;
        margin-right: 30px;
    }

    footer {
        font-size: 30%;
    }

    #mission-statement {
       visibility: hidden;
       padding: 0;
       margin: 60px;
    }

}
/*--footer--*/

footer {
    background-color: #f95959;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    width: 100%;
    bottom: 0;
    right: 0;
}

footer > span {
	color: #233142;
    font-family: 'Aboreto', cursive, sans-serif;
}

footer > a {
    text-decoration: none;
    padding: 0 10px;
    font-size: 25px;
    color: whitesmoke;
}

footer > p {
    color:#233142;
    font-family: 'Aboreto', cursive, sans-serif;
}

/*--Contact Page--*/
* {
    box-sizing: border-box;
  }

.flex-container {
    display: flex;
    font-size: 30px;
    text-align: center;
  }
  
.contact-heading {
    text-align: center;
    font-family: 'Aboreto', cursive, sans-serif;
    padding-bottom: 30px;
    margin-top: 80px;
    font-size: 30px;
}

p {
    font-family: 'Poppins', sans-serif;
    text-align: center ;
    padding-bottom: 20px;
}

legend {
    font-family: 'Aboreto', cursive, sans-serif;
}

form {
    margin-top: 60px;
}

.details {
    font-family: 'Aboreto', cursive, sans-serif;
    color: #233142;
    text-align: center;
    margin-top: 32px;
}


.contact-left-side {
    width: 100%;
    height: 700px;
    padding: 20px;
    border: 20px solid #e3e3e3;
    background-color: #e3e3e3;
    color: #233142;
    padding: 10px;
    flex: 100%;
    
}

.text-right-side {
    width: 100%;
    height: 900px;
    padding: 20px;
    border: 20px solid #e3e3e3;
    background-color: #e3e3e3;
    color: #233142;
    padding: 10px;
    flex: 100%;
    
}

fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 6px;
    padding-inline-start: 12px;
    padding-inline-end: 12px;
    padding-block-end: 10px;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: #233142;
    border-image: initial;
}

legend {
    display: block;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.text-right-css {
    color: #233142;
    padding: 16px;
}

.text-input {
    padding: 30px 10% 0;
}

.text-input2 {
    padding: 0 10%;
}

textarea {
    font-weight: normal;
    width: 100%;
    height: 170px;
}

.button {
    margin: 15px 10% 20px;
    border-radius: 2px;
    font-size: 14px;
    float: left;
}

.entry-submit {
    background-color: #233142;
    color: #e3e3e3;
    width: 150px;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
}

.contact-details {
    font-family: 'Aboreto', cursive, sans-serif;
    font-size: 14px;
    color: #233142;
}


p {
    display: block;
    margin-block-start: 16px;
    margin-block-end: 16px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}



.contact-heading {
    text-align: center;
    font-family: 'Aboreto', cursive, sans-serif;

}

p {
    font-family: 'Poppins', sans-serif;
    text-align: center;

}

input[type=text] {
    padding:10px;
    margin:10px 0;
  }

input[type=email] {
    padding:10px;
    margin:10px 0;
}

input[type=tel] {
    padding:10px;
    margin:10px 0;
}

/*--Treatment Page--*/
.fillers {
    font-family:'Aboreto', cursive, sans-serif;
    font-size: 20px;
}
.column {
    float: left;
    width: 60%;
    padding: 10px;
}

.column-text {
    float: right;
    width: 40%;
    padding: 0;
}

.treatments{
    min-height: 2600px;
}

div > h2 {
    font-family: 'Aboreto', cursive, sans-serif; 
    padding-left: 20px;
}


.treatment-header {
    font-family:'Aboreto', cursive, sans-serif;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 30px;
}

.treatments-par {
    font-size: 17px;
    padding-bottom: 20px;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }

  .flex-container{
    display: flex;
    flex-direction: row;
  }
  
  .flex-container > div {
    background-color: transparent;
    min-width: 50%;
    margin: 10px;
    text-align: center;
    line-height: 25px;
    font-size: 17px;
    padding: 30px;
  }

  img {
    max-width: 100%;
    max-height:100%;
    overflow: clip;
  }

  p > a {
    text-decoration: none;
    color: #f95959;
    font-weight: 800;
    font-size: 15px;
  }

  .price {
    color: #f95959;
    font-family: 'Aboreto', cursive, sans-serif;
    font-weight: 900;
    font-size: larger;
  }
  